p {
	padding: 0px;
	margin: 0px;
}
a {
	padding: 0px;
	margin: 0px;
	outline: none;
}
ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}
ul li {
	padding: 0px;
	margin: 0px;
}
h1, h2, h3, h4, h5, h6 {
	padding: 0px;
	margin: 0px;
}
a:hover {
	outline: none !important;
	text-decoration: none;
}
a:active {
	outline: none !important;
	text-decoration: none;
}
a:focus {
	outline: none !important;
	text-decoration: none;
}
input[type="text"]::-webkit-input-placeholder {
opacity: 1;
}
input[type="text"]::-moz-placeholder {
opacity: 1;
}
input[type="search"]::-webkit-input-placeholder {
opacity: 1;
}
input[type="search"]::-moz-placeholder {
opacity: 1;
}
input[type="email"]::-webkit-input-placeholder {
opacity: 1;
}
input[type="email"]::-moz-placeholder {
opacity: 1;
}
input[type="tel"]::-webkit-input-placeholder {
opacity: 1;
}
input[type="tel"]::-moz-placeholder {
opacity: 1;
}
textarea::-moz-placeholder {
opacity: 1;
}
textarea::-webkit-placeholder {
opacity: 1;
}
@import url('https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900'); /* font-family: 'Catamaran', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Mukta:200,300,400,500,600,700,800'); /* font-family: 'Mukta', sans-serif; */
body {
	background:#fff;
}
.container {
	max-width: 1146px;
	padding:0;
}
.header {
	padding:0;
	margin:0;
}
.navbar-default .navbar-toggle {
	background: none;
	border-color: none;
}
.navbar-default .navbar-toggle {
	border:none;
}
.navbar-toggle {
	margin-right:0;
	margin-top:15px;
	padding:0;
	position:absolute;
	top:0;
	right:15px;
	z-index:99999999;
}
.navbar-toggle.collapsed .toggle_normal {
	display: block;
	width: 25px;
	height: 20px;
	background:url(../images/toggle_nrml.png) no-repeat;
}
.navbar-toggle.collapsed .toggle_open {
	display: none;
	width: 25px;
	height: 20px;
	background:url(../images/toggle_open.png) no-repeat;
}
.navbar-toggle .toggle_open {
	display: block;
	width: 25px;
	height: 20px;
	background:url(../images/toggle_open.png) no-repeat;
}
.navbar-toggle.collapsed .navbar-brand {
	display: block;
}
.navbar-toggle .navbar-brand {
	display: none;
}
.navbar-toggle.collapsed .icon-bar .icon-bar {
	background-color: #1f1f1f;
}
.navbar-default .navbar-toggle:hover {
	background-color:#fff;
}
.navbar-default .navbar-toggle:focus {
	background-color:none;
}
.navbar-toggle.collapsed:hover .icon-bar {
	background-color: #096db8;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: #096db8;
}
.top_header {
	padding:0;
	margin:0;
}
.addbanner {
	text-align:center;
}
.addbanner img {
	max-width:100%;
	height:auto;
}
.main_header {
	padding:20px 0 0 0;
	margin:0;
}
.main_header #navbar {
	float:right;
	padding-right:0;
}
.main_header .navbar-brand {
	margin-top:20px;
}
.main_nav {
	width: 100%;
	min-height: auto;
	background: #fff;
	border: none;
	border-radius:0px;
	border-bottom:1px solid #c0c0c0;
	margin: 0;
}
.navbar-brand {
	height: auto;
	padding: 0;
}
.main_nav .navbar-nav li {
	border-left:1px solid #f6f6f6;
}
.main_nav .navbar-nav li a {
	font: 600 16px/24px 'Mukta', sans-serif;
	color: #2e2e2e !important;
	padding: 24px 20px;
	margin: 0;
}
.main_nav .navbar-nav .active a, .main_nav .navbar-nav .active a:focus, .main_nav .navbar-nav .active a:hover {
	background: none;
	color: #fff !important;
	background:#e42320;
}
.main_nav .navbar-nav li a:focus, .main_nav .navbar-nav li a:hover {
	background:#e42320;
	color: #fff !important;
}
.searchdiv {
	float:right;
	position:relative;
	width:60px;
}
 .search-form .form-group input.form-control::-webkit-input-placeholder {
 display:none;
}
.search-form .form-group input.form-control::-moz-placeholder {
 display:none;
}
.search-right {
	min-width:450px;
	position:absolute;
	top:0;
	right:0; /*or I can probably just use columns*/
}
.navbar-right form {
	width:100%;
}
.form-group {
	position:relative;
	width:0%;
	min-width:60px;
	height:72px;
	overflow:hidden;
	-webkit-transition:width 1s;
	transition: width 1s;
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
	margin:0;
}
.form-group input.form-control {
	position:absolute;
	top:0;
	right:0;
	outline:none;
	width:100%;
	height:72px;
	margin:0;
	z-index:10;
}
input[type="text"].form-control {
	-webkit-appearence:none;
	-webkit-border-radius:0;
}
.form-control-submit, .search-label {
	width:60px;
	height:72px;
	position:absolute;
	right:0;
	top:0;
	padding:0;
	margin:0;
	text-align:center;
	cursor:pointer;
	line-height:72px;
	background:#1f1f1f;
	color:#fff;
	font: 600 16px/72px 'Mukta', sans-serif;
}
.form-control-submit {
	background:#fff; /*stupid IE*/
	opacity: 0;
	color:transparent;
	border:none;
	outline:none;
	z-index:-1;
}
.search-label {
	z-index:90;
}
.form-group.sb-search-open, .no-js .sb-search-open {
	width:700px;
}
.form-group.sb-search-open .search-label, .no-js .sb-search .search-label {
	background: #e42320;
	color: #fff;
	z-index: 11;
}
.form-group.sb-search-open .form-control-submit, .no-js .form-control .form-control-submit {
	z-index: 90;
}
.searchbar {
	background:#1f1f1f;
}
.searchbar i {
	padding:0 2px;
	color:#fff;
	font-weight:normal;
}
.datepopup {
	position:absolute;
	left:0;
	padding:2px;
	display:none;
	margin:-20px 0 0 -130px;
	width: 360px;
	background:#fff;
	z-index:99999;
	padding:30px;
	box-shadow:0 0 5px #ccc;
	text-align:center;
	
}
.datepopup::before {
 border-bottom: 20px solid #fff;
 border-left: 20px solid transparent;
 border-right: 20px solid transparent;
 content: "";
 height: 25px;
 position: absolute;
 right: 37%;
 top: -25px;
 width: 25px;
}

.datepopup h1 {
	color:#1f1f1f;
	font: 600 16px/20px 'Catamaran', sans-serif;
	padding:0 0 20px;
	margin:0;
	text-align:center;
}
.datepopup p {
	color:#474747;
	font: 400 14px/20px 'Mukta', sans-serif;
	padding:0;
	margin:0;
	text-align:center;
}
.datepopup a {
border:1px solid #e42320;
padding:10px 30px;
display:inline-block;
color:#e42320;
font: 500 14px/20px 'Catamaran', sans-serif;
text-align:center;
margin-top:15px;
}
.datepopup a:hover {
border:1px solid #1072b9;
color:#1072b9;
}
.searcharea input[type="submit"]:hover {
	background:#1072b9;
	color:#fff;
}
.bodycontent {
	padding:40px 0;
	margin:0;
}
.big_img {
	width:460px;
	float:left;
}
.small_img {
	width:264px;
	float:right;
}
.img_hand {
	position:relative;
}
.img_hand.right_side {
	margin-bottom:30px;
}
.img_hand img {
	width:100%;
	height:auto;
}
.img_details {
	background:rgba(31, 31, 31, .9);
	padding:20px;
	position:absolute;
	bottom:0;
}
.img_details.right_details {
	padding:10px;
}
.img_details h1 {
	color:#fff;
	font-size:24px;
	line-height:26px;
	font-family: 'Catamaran', sans-serif;
	font-weight:800;
	padding:0 0 20px;
	margin:0;
}
.img_details h2 {
	color:#fff;
	font-size:15px;
	line-height:20px;
	font-family: 'Catamaran', sans-serif;
	font-weight:800;
	padding:0;
	margin:0;
}
.img_details p {
	color:#fff;
	font-size:16px;
	line-height:20px;
	font-family: 'Mukta', sans-serif;
	font-weight:400;
	padding:0;
	margin:0;
}
.section_01 {
	padding-top:40px;
	padding-bottom:40px;
}
.section_01 h1 {
	color:#2e2e2e;
	font-size:24px;
	line-height:30px;
	border-bottom:1px solid #2e2e2e;
	font-family: 'Catamaran', sans-serif;
	font-weight:800;
	margin:0;
	padding:0 0 20px;
}
.section_01 h2 {
	color:#1f1f1f;
	font-size:16px;
	line-height:20px;
	font-family: 'Mukta', sans-serif;
	font-weight:600;
	padding:0;
	margin:0;
}
.section_01 ul.date_li {
	padding:50px 0;
	margin:0;
}
.section_01 ul.date_li li {
	padding:0;
	margin:0 42px 0 0;
	float:left;
	text-align:center;
}
.section_01 ul.date_li li:last-child {
	margin-right:0;
}
.section_01 ul.date_li li .date_img {
	width:110px;
	height:110px;
	border-radius:100%;
	margin:0 auto 15px;
	position:relative;
}
.section_01 ul.date_li li .date_img .img_overlay {
	background:rgba(31, 31, 31, .5);
	position:absolute;
	height:100%;
	width:100%;
	top:0;
	left:0;
	border-radius:100%;
	align-items: center;
	display: flex;
	justify-content: center;
}
.section_01 ul.date_li li p {
	color:#fff;
	font-size:30px;
	line-height:30px;
	font-family: 'Mukta', sans-serif;
	font-weight:600;
	padding:0;
	margin:0;
}
.section_01 ul.date_li li p span {
	font-size:20px;
}
.section_01 ul.two_btn {
	padding:0;
	margin:0;
	text-align:center;
}
.section_01 ul.two_btn li {
	padding:0;
	margin:0 15px;
	display:inline-block;
}
.section_01 ul.two_btn li a {
	padding:20px 30px;
	margin:0;
	font-family: 'Catamaran', sans-serif;
	font-weight:500;
	color:#fff;
	display:block;
	font-size:18px;
	line-height:18px;
	transition: width 0.5s ease 0s, background-color 0.5s ease 0s;
}
.section_01 ul.two_btn li a.evanto {
	background:#e42320;
}
.section_01 ul.two_btn li a.pasados {
	background:#246494;
}
.section_01 ul.two_btn li a.evanto:hover {
	background:#246494;
	transition: width 0.5s ease 0s, background-color 0.5s ease 0s;
}
.section_01 ul.two_btn li a.pasados:hover {
	transition: width 0.5s ease 0s, background-color 0.5s ease 0s;
	background:#e42320;
}
.news_list_01 {
	padding-bottom:50px;
	padding-top:50px;
}
.left_news {
	width:362px;
	float:left;
}
.right_news {
	width:362px;
	float:right;
}
.news_list_01 h1, .news_list_02 h1 {
	font-family: 'Catamaran', sans-serif;
	font-weight:700;
	font-size:24px;
	line-height:30px;
	color:#1f1f1f;
	border-bottom:1px solid #1f1f1f;
	padding:0 0 10px;
	margin-bottom:20px;
}
.news_list_01 h1 a {
	font-family: 'Mukta', sans-serif;
	font-weight:800;
	font-size:14px;
	line-height:30px;
	color:#e42320;
	float:right;
	text-transform:uppercase;
}
.news_list_01 h1 a span {
	color:#246494;
}
.news_list_01 ul.news_list, .news_list_02 ul.news_list {
	padding:0;
	margin:0;
}
.news_list_01 ul.news_list li, .news_list_02 ul.news_list li {
	padding: 0 0 10px;
	margin: 0 0 15px;
	border-bottom: 1px solid #dbdbdb;
	float: left;
	width: 100%;
}
.news_list_01 ul.news_list li h2, .news_list_01 ul.news_list li a, .news_list_02 ul.news_list li h2, .news_list_02 ul.news_list li a {
	font-family: 'Catamaran', sans-serif;
	font-weight:500;
	font-size:18px;
	line-height:25px;
	color:#1f1f1f;
	padding:0 0 10px;
	transition: width 0.5s ease 0s, background-color 0.5s ease 0s;
}
.news_list_01 ul.news_list li a:hover, .news_list_02 ul.news_list li a:hover {
	transition: width 0.5s ease 0s, background-color 0.5s ease 0s;
	color:#6A6A6A;
}
.news_list_01 ul.news_list li p, .news_list_02 ul.news_list li p {
	font-family: 'Catamaran', sans-serif;
	font-weight:500;
	font-size:12px;
	line-height:15px;
	color:#c0c0c0;
	padding:0;
}
.news_list_02 {
	padding-bottom:50px;
}
.news_img {
	padding:0;
	margin:0;
	width:140px;
	float:left;
}
.news_img img {
	max-width:100%;
	height:auto;
}
.news_dl_right {
	padding:0;
	margin:0;
	float:right;
	width:210px;
}
.news_dl_right h2, .news_dl_right h2 a {
	font-weight:500 !important;
	font-size:16px !important;
}
.right_box {
	border:1px solid #dbdbdb;
	text-align:center;
	margin-bottom:30px;
}
.right_box.right_bt {
	margin-top:30px;
}
.right_box h1 {
	font-family: 'Catamaran', sans-serif;
	font-weight:700;
	font-size:24px;
	line-height:30px;
	color:#1f1f1f;
	padding:10px 0;
	text-align:center;
	background:#f9f9f9;
	border-bottom:1px solid #dbdbdb;
	margin-bottom:15px;
}
.bodycontent .col-sm-4 {
	padding-right:0;
	float:right;
	padding-left:30px;
}
.right_box img {
	max-width:100%;
	padding:0 5px;
	height:auto;
}
.newslater_area {
	background:#fff;
	position:relative;
	margin-top:25px;
}
.newslater {
	border:1px solid #dbdbdb;
	text-align:center;
	padding:20px 10px;
	margin-bottom:30px;
}
.newslater h1 {
	font-family: 'Catamaran', sans-serif;
	font-weight:700;
	font-size:18px;
	line-height:25px;
	color:#2e2e2e;
	padding:0 10px;
	text-align:center;
}
.newslater input[type="text"] {
	width:100%;
	height:40px;
	background:none;
	border:1px solid #ccc;
	font-family: 'Mukta', sans-serif;
	font-weight:300;
	font-size:14px;
	color:#c0c0c0;
	padding:0 100px 0 10px;
}
.newslater input[type="submit"], .newslater input[type="button"] {
	width:90px;
	height:40px;
	background:#e42320;
	border:none;
	font-family: 'Catamaran', sans-serif;
	font-weight:500;
	font-size:18px;
	color:#fff;
	padding:0;
	position:absolute;
	right:0;
	top:0;
}
.right_box ul.client_logo {
	padding:20px 0 0 0;
	margin:0;
}
.right_box ul.client_logo li {
	padding:0;
	margin:0 0 15px;
	float:left;
}
.right_box ul.client_logo li img {
	padding:0;
}
.tweets_area {
	background:#fff;
	padding:0 20px 20px 20px;
	text-align:left;
}
.tweets_area ul.tweets_list {
	padding:0;
	margin:0;
}
.tweets_area ul.tweets_list li {
	padding:0 0 10px;
	margin:0 0 20px;
	border-bottom:1px solid #dbdbdb;
}
.tweets_area ul.tweets_list li:last-child {
	margin-bottom:0;
}
.tweets_area ul.tweets_list li h2 {
	font-family: 'Mukta', sans-serif;
	font-weight:600;
	color:#1f1f1f;
	font-size:16px;
	line-height:18px;
	padding:0 0 5px;
}
.tweets_area ul.tweets_list li a {
	font-family: 'Mukta', sans-serif;
	font-weight:500;
	font-size:16px;
	color:#246494;
	line-height:18px;
	padding-bottom:10px;
	display:block;
}
.tweets_area ul.tweets_list li p {
	font-family: 'Catamaran', sans-serif;
	font-weight:500;
	font-size:12px;
	color:#c0c0c0;
	line-height:14px;
}
.evanto_area {
	background:#fff;
	padding:0 20px 20px 20px;
	text-align:left;
}
.evanto_area ul.evanto_list {
	padding:0;
	margin:0;
}
.evanto_area ul.evanto_list li {
	padding:0 0 10px;
	margin:0 0 20px;
	border-bottom:1px solid #dbdbdb;
}
.evanto_area ul.evanto_list li:last-child {
	margin-bottom:0;
}
.evanto_area ul.evanto_list li h2 {
	font-family: 'Mukta', sans-serif;
	font-weight:600;
	color:#1f1f1f;
	font-size:18px;
	line-height:20px;
	padding:0 0 5px;
}
.evanto_area ul.evanto_list li h2 a {
	font-family: 'Mukta', sans-serif;
	font-weight:600;
	color:#1f1f1f;
	font-size:18px;
	line-height:20px;
	padding:0;
}
.evanto_area ul.evanto_list li p {
	font-family: 'Catamaran', sans-serif;
	font-weight:500;
	font-size:16px;
	color:#474747;
	line-height:18px;
}
.articulos_area {
	background:#fff;
	padding:0 20px 20px 20px;
	text-align:left;
}
.articulos_area ul.articulos_list {
	padding:0;
	margin:0;
}
.articulos_area ul.articulos_list li {
	padding:0 0 10px;
	margin:0 0 20px;
	border-bottom:1px solid #dbdbdb;
}
.articulos_area ul.articulos_list li:last-child {
	margin-bottom:0;
}
.articulos_area ul.articulos_list li a {
	font-family: 'Catamaran', sans-serif;
	font-weight:500;
	font-size:14px;
	color:#1f1f1f;
	line-height:16px;
	padding-bottom:5px;
	display:block;
}
.articulos_area ul.articulos_list li p {
	font-family: 'Catamaran', sans-serif;
	font-weight:500;
	font-size:11px;
	color:#c0c0c0;
	line-height:14px;
}
.articulos_area ul.articulos_list li img {
	float:left;
	margin-right:10px;
	margin-bottom:5px;
}
.footer {
	background:#1f1f1f;
	padding:60px 0;
}
.footer h1 {
	text-transform:uppercase;
	padding:0 0 30px;
	margin:0;
	color:#fff;
	font-family: 'Catamaran', sans-serif;
	font-weight:800;
	font-size:14px;
}
.actual_area {
}
.actual_area h1 {
	padding:0 0 30px;
	margin:0;
	color:#1f1f1f;
	font-family: 'Catamaran', sans-serif;
	font-weight:800;
	font-size:24px;
	line-height:26px;
}
.actual_area h2 {
	padding:0 0 10px;
	margin:0;
	color:#1f1f1f;
	font-family: 'Catamaran', sans-serif;
	font-weight:800;
	font-size:18px;
	line-height:20px;
}
.actual_area h2 a {
	padding:0;
	margin:0;
	color:#1f1f1f;
	font-family: 'Catamaran', sans-serif;
	font-weight:800;
	font-size:18px;
	line-height:25px;
}
.actual_area p {
	font-family: 'Mukta', sans-serif;
	font-weight:300;
	color:#474747;
	font-size:16px;
	line-height:22px;
	padding:0;
}
.actual_area span {
	font-family: 'Mukta', sans-serif;
	font-weight:400;
	color:#aaaaaa;
	font-size:16px;
	line-height:20px;
	padding:0 0 5px;
	display:inline-block;
}
.actual_area span span {
	color:#246494;
}
.actual_area ul.actual_list {
	padding:0 0 70px;
	margin:0;
}
.actual_area ul.actual_list li {
	padding:0 0 30px;
	margin:0 0 30px;
	border-bottom:1px solid #dbdbdb;
	float:left;
	width:100%;
}
.actual_area ul.actual_list li .actual_img {
	width:264px;
	float:left;
}
.actual_area ul.actual_list li .actual_details {
	width:460px;
	float:right;
}
ul.pagination_list {
	padding:0 0 70px;
	margin:0;
	text-align:center;
}
ul.pagination_list li {
	padding:0;
	margin:0 2px;
	display:inline-block;
}
ul.pagination_list li a {
	padding:10px 15px;
	margin:0;
	border:1px solid #dbdbdb;
	color:#1f1f1f;
	font-family: 'Mukta', sans-serif;
	font-weight:300;
	font-size:16px;
	display:block;
	line-height:16px;
}
ul.pagination_list li a.active {
	border:1px solid #e42320;
}
ul.pagination_list li:nth-child(4n) a {
border:none;
padding:10px 0;
}
.articulas_autor {
	border-bottom:1px solid #dbdbdb;
	padding-bottom:25px;
	margin-bottom:25px;
}
.articulas_autor_img {
	float:left;
	width:140px;
	height:140px;
	border-radius:100%;
}
.articulas_autor_img img {
	border-radius:100%;
}
.articulas_autor_details {
	float:right;
	width:560px;
	padding:0;
	margin:0;
}
.articulas_autor_details a {
	padding:15px 40px;
	margin: 0;
	font-family: 'Catamaran', sans-serif;
	font-weight: 500;
	color: #fff;
	display: inline-block;
	font-size: 18px;
	line-height: 18px;
	transition: width 0.5s ease 0s, background-color 0.5s ease 0s;
	background: #e42320;
}
.articulas_autor_details a:hover {
	background: #246494;
}
.articulas_autor_details h3 {
	color:#1f1f1f;
	font-family: 'Catamaran', sans-serif;
	font-weight:500;
	font-size:18px;
	line-height:20px;
	padding:0 0 20px;
}
.articulas_autor_details p {
	color:#474747;
	font-family: 'Mukta', sans-serif;
	font-weight:300;
	font-size:16px;
	line-height:25px;
	padding:0;
}
.conference_div {
	padding:0;
	margin:0;
}
.conference_top {
	padding:0;
	margin:0;
}
.conference_top h1 {
	color:#1f1f1f;
	font-family: 'Catamaran', sans-serif;
	font-weight:800;
	font-size:24px;
	line-height:20px;
	padding:0 0 20px;
}
.conference_top p {
	color:#474747;
	font-family: 'Mukta', sans-serif;
	font-weight:400;
	font-size:16px;
	line-height:25px;
	padding:0;
}
.evantos_tab {
	padding:0;
	margin:0;
}
.evantos_tab_area {
	padding: 0;
	margin: 0;
}
.evantos_tab_area p span.green {
	height:10px;
	width:10px;
	background:#246494;
	border-radius:100%;
	padding: 0;
	display: inline-block;
	margin-right: 10px;
}
.evantos_tab_area p span.red {
	height:10px;
	width:10px;
	background:#e42320;
	border-radius:100%;
	padding: 0;
	display: inline-block;
	margin-right: 10px;
}
.gap {
	width:100%;
	height:30px;
	float:left;
}
.actualdetails_area {
}
.actualdetails_area h1 {
	padding:0 0 30px;
	margin:0;
	color:#1f1f1f;
	font-family: 'Catamaran', sans-serif;
	font-weight:800;
	font-size:30px;
	line-height:35px;
}
.actualdetails_area h2 {
	padding:0 0 30px;
	margin:0;
	color:#1f1f1f;
	font-family: 'Catamaran', sans-serif;
	font-weight:600;
	font-size:16px;
	line-height:20px;
}
.actualdetails_area h2 a {
	padding:0;
	margin:0;
	color:#1f1f1f;
	font-family: 'Catamaran', sans-serif;
	font-weight:800;
	font-size:18px;
	line-height:25px;
}
.actualdetails_area p {
	font-family: 'Mukta', sans-serif;
	font-weight:300;
	color:#474747;
	font-size:16px;
	line-height:30px;
	padding:0 0 20px;
}
.actualdetails_area .articulas_autor_details p {
	color: #474747;
	font-family: 'Mukta', sans-serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 22px;
	padding: 0 0 30px;
}
.actualdetails_area h3 {
	font-family: 'Catamaran', sans-serif;
	font-weight:800;
	color:#1f1f1f;
	font-size:24px;
	line-height:30px;
	padding:0 0 20px;
}
.actualdetails_area .articulas_autor_details h3 {
	color: #1f1f1f;
	font-family: 'Catamaran', sans-serif;
	font-weight: 500;
	font-size: 18px;
	line-height: 20px;
	padding: 0 0 5px;
}
.actualdetails_area .articulas_autor_details h6 {
	color: #1f1f1f;
	font-family: 'Catamaran', sans-serif;
	font-weight: 600;
	font-size: 18px;
	line-height: 20px;
	padding: 0 0 20px;
}
.actualdetails_area .articulas_autor {
	border:0;
}
.actualdetails_area h4 {
	font-family: 'Catamaran', sans-serif;
	font-weight:800;
	color:#1f1f1f;
	font-size:18px;
	line-height:25px;
	padding:0 0 20px;
}
.actualdetails_area ul.namedate {
	padding:0;
	margin:0 0 20px;
	display:block;
}
.actualdetails_area ul.namedate li {
	padding:0;
	margin:0 20px 0 0;
	float:left;
}
.actualdetails_area ul.namedate li p {
	font-family: 'Mukta', sans-serif;
	font-weight:400;
	color:#474747;
	font-size:16px;
	line-height:18px;
	padding:0;
}
.actualdetails_area ul.socialicon {
	padding:0;
	margin:0 0 20px;
	display:block;
}
.actualdetails_area ul.socialicon li {
	padding:0;
	margin:0 5px 0 0;
	float:left;
}
.rwc_img {
	margin-bottom:50px;
}
.rwc_img img {
	max-width:100%;
	height:auto;
}
.actualdetails_area h5 {
	font-family: 'Catamaran', sans-serif;
	font-weight:600;
	color:#1f1f1f;
	font-size:18px;
	line-height:18px;
	padding:20px 0;
	border-top:1px solid #dbdbdb;
	border-bottom:1px solid #dbdbdb;
	margin:30px 0 20px;
}
.actualdetails_area h5 span {
	font-family: 'Catamaran', sans-serif;
	font-weight:400;
	color:#474747;
	font-size:16px;
	line-height:18px;
}
.actualdetails_area h5 span span {
	color:#246494;
}
.evantos_area {
	padding:0;
	margin:0;
}
.evantos_area p {
	font-family: 'Mukta', sans-serif;
	font-weight:300;
	color:#474747;
	font-size:16px;
	line-height:30px;
	padding:0 0 20px;
}
.evantos_area h1 {
	font-family: 'Catamaran', sans-serif;
	font-weight:800;
	color:#1f1f1f;
	font-size:24px;
	line-height:24px;
	padding:0 0 30px;
}
.evantos_area h4 {
	font-family: 'Mukta', sans-serif;
	font-weight:300;
	color:#474747;
	font-size:16px;
	line-height:16px;
	padding:0 0 20px;
}
.evantos_area h4 span {
	font-weight:600;
}
.ponentes_area {
	padding:30px 0 0;
	margin:0;
}
.evantos_area h2 {
	font-family: 'Catamaran', sans-serif;
	font-weight:600;
	color:#1f1f1f;
	font-size:24px;
	line-height:24px;
	padding:0 0 20px;
	margin-bottom:30px;
	border-bottom:1px solid #1f1f1f;
}
.evantos_area ul.ponentes_list {
	padding:0;
	margin:30px 0 0;
}
.evantos_area ul.ponentes_list li {
	padding:0;
	margin:0 0 50px;
	display:flow-root;
}
.evantos_area h3 {
	font-family: 'Catamaran', sans-serif;
	font-weight:600;
	color:#1f1f1f;
	font-size:18px;
	line-height:20px;
	padding:0 0 10px;
	margin:0;
}
.evantos_area ul.ponentes_list li a {
	padding:15px 40px;
	margin: 0;
	font-family: 'Catamaran', sans-serif;
	font-weight: 500;
	color: #fff;
	display: inline-block;
	font-size: 18px;
	line-height: 18px;
	transition: width 0.5s ease 0s, background-color 0.5s ease 0s;
	background: #e42320;
}
.evantos_area ul.ponentes_list li a:hover {
	background: #246494;
}
.ponentes_img {
	width:140px;
	height:140px;
	border-radius:100%;
	float:left;
}
.ponentes_img img {
	border-radius:100%;
}
.ponentes_details {
	float:right;
	width:560px;
	padding:0;
	margin:0;
}
.fotos_area {
	padding: 30px 0 80px;
	margin: 0;
}
.fotos_slider {
	padding:0;
	margin:0;
	position:relative;
}
.fotos_slider .owl-theme .owl-controls {
	margin-top: 0;
	text-align: center;
}
.fotos_slider .owl-theme .owl-controls .owl-buttons div {
	color: #FFF;
	display: inline-block;
	zoom: 1;
 *display: inline;
	margin: 0;
	padding: 0;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	background:none;
	filter: Alpha(Opacity=50);
	opacity:1;
}
.fotos_slider .owl-theme .owl-pagination {
	position:absolute;
	bottom:5px;
	width:100%;
}
.fotos_slider .owl-theme .owl-prev {
	position:absolute;
	left:20px;
	top:45%;
	background:url(../images/left_arrow.png) no-repeat !important;
	width:14px;
	height:26px;
	text-indent:-9999px;
}
.fotos_slider .owl-theme .owl-next {
	position:absolute;
	right:20px;
	top:45%;
	background:url(../images/right_arrow.png) no-repeat !important;
	width:14px;
	height:26px;
	text-indent:-9999px;
}
.fotos_slider .owl-theme .owl-controls .owl-page span {
	display: block;
	width: 10px;
	height: 10px;
	margin: 5px 7px;
	filter: Alpha(Opacity=50);
	opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background:none;
	border:1px solid #fff;
}
.fotos_slider .owl-theme .owl-pagination .active span {
	background:#fff;
}
.footer ul.ft_menu {
	padding:0;
	margin:0;
}
.footer ul.ft_menu li {
	padding:0 0 10px;
	margin:0;
	width:50%;
	float:left;
}
.footer ul.ft_menu li a {
	padding:0;
	margin:0;
	font-family: 'Mukta', sans-serif;
	font-weight:300;
	color:#fff;
	font-size:16px;
	transition: width 0.5s ease 0s, background-color 0.5s ease 0s;
}
.footer ul.ft_menu li a:hover {
	color:#e42320;
	transition: width 0.5s ease 0s, background-color 0.5s ease 0s;
}
.footer p {
	padding:0 0 10px;
}
.footer p, .footer p a {
	margin:0;
	font-family: 'Mukta', sans-serif;
	font-weight:400;
	color:#fff;
	font-size:16px;
}
.footer p a:hover {
	color:#e42320;
	transition: width 0.5s ease 0s, background-color 0.5s ease 0s;
}
.footer p span {
	color:#e42320;
}
.footer ul.social {
	padding:0;
	margin:0 0 30px;
}
.footer ul.social li {
	padding:0;
	margin:0 20px 0 0;
	float:left;
}
/* ============================================================
					CALENDER START
=============================================================== */
.calender_area {
	padding:30px 0 0 0;
}
div#calendar {
	margin:0px auto;
	padding:0px;
	width: 100%;
	font-family: 'Mukta', sans-serif;
	font-weight:400;
	color:#474747;
	font-size:16px;
	border:1px solid #dbdbdb;
}
div#calendar div.box {
	position:relative;
	top:0px;
	left:0px;
	width:100%;
	height:60px;
	background-color:#f9f9f9;
}
#calendar .header {
	line-height:40px;
	vertical-align:middle;
	position:absolute;
	left:0;
	top:0px;
	width:100%;
	height:40px;
	text-align:center;
}
div#calendar div.header a.prev, div#calendar div.header a.next {
	position:absolute;
	top:10px;
	height: 17px;
	display:block;
	cursor:pointer;
	text-decoration:none;
	color:#FFF;
}
div#calendar div.header span.title {
	font-family: 'Catamaran', sans-serif;
	font-weight:800;
	color:#1f1f1f;
	font-size:18px;
	line-height:60px;
}
div#calendar div.header a.prev {
	left:35%;
}
div#calendar div.header a.next {
	right:0px;
}
/*******************************Calendar Content Cells*********************************/
div#calendar div.box-content {
	border-top:none;
}
div#calendar ul.label {
	float:left;
	margin: 0px;
	padding: 0px;
}
div#calendar ul.label li {
	margin:0px;
	padding:0px;
	float:left;
	list-style-type:none;
	width:80px;
	height:40px;
	line-height:40px;
	vertical-align:middle;
	text-align:center;
	color:#474747;
	font-size: 14px;
	font-family: 'Catamaran', sans-serif;
	font-weight:800;
	background-color: transparent;
}
div#calendar ul.dates {
	float:left;
	margin: 0px;
	padding: 0px;

}
/** overall width = width+padding-right**/
div#calendar ul.dates li {
	margin:0px;
	padding:10px;
	line-height:20px;
	vertical-align:middle;
	float:left;
	list-style-type:none;
	width:80px;
	height:80px;
	font-family: 'Mukta', sans-serif;
	font-weight:400;
	color:#474747;
	font-size:16px;
	position:relative;
}
div#calendar ul.dates li span {
	color:#c0c0c0;
}
div#calendar ul.dates li span.green {
	height: 10px;
	width: 10px;
	background: #246494;
	border-radius: 100%;
	padding: 0;
	display: inline-block;
	margin-top:5px;
	float:right;
	cursor:pointer;
}
div#calendar ul.dates li span.red {
	height: 10px;
	width: 10px;
	background: #e42320;
	border-radius: 100%;
	padding: 0;
	display: inline-block;
	margin-top:5px;
	float:right;
	margin-left:5px;
}
div#calendar ul.dates li span.text {
	text-align:center;
	font-family: 'Mukta', sans-serif;
	font-weight:500;
	color:#474747;
	font-size:16px;
	padding:0;
	margin-top:15px;
}
:focus {
	outline:none;
}
div.clear {
	clear:both;
}
/******************************* HACKS *********************************/
            div#calendar {
	width: 100%;
}
div#calendar div.header {
	width: 100%;
}
div#calendar div.header a.next {
	right: 35%;
}
div#calendar ul.label {
	width: 100%;
	border-top:1px solid #dbdbdb;
	border-bottom:1px solid #dbdbdb;
	text-transform: uppercase;
}
div#calendar ul.label li {
	width: 14.28571%;
	margin-right: 0;
}
div#calendar ul.label li span {
color:#e42320;
}
div#calendar ul.dates {
	width: 100%;
}
div#calendar ul.dates li {
	width: 14.28571%;
	margin-right: 0;
	border-bottom:1px solid #dbdbdb;
	border-right:1px solid #dbdbdb;
}
div#calendar ul.dates li:nth-child(7n) {
border-right:0;
}
/* ============================================================
			            TAB MENU START
=============================================================== */

.tab_area {
	padding:40px 0;
	margin:0;
}
.tablist h2 {
	font-size: 18px;
	margin:0;
	padding: 0 0 5px;
	line-height: 20px;
	color:#1f1f1f;
	font-family: 'Catamaran', sans-serif;
	font-weight:800;
}
.tablist span {
	margin:0;
	padding:0 0 15px;
	font-family: 'Mukta', sans-serif;
	font-weight:400;
	color:#aaaaaa;
	font-size:16px;
	display:block;
}
.tablist p {
	margin:0;
	font-family: 'Mukta', sans-serif;
	font-weight:300;
	color:#474747;
	font-size:16px;
	line-height:27px;
}
.tablist ul.tablisting {
	padding:0;
	margin:0;
}
.tablist ul.tablisting li {
	padding:0 0 15px;
	margin:0 0 20px;
	border-bottom: 1px solid #dbdbdb;
	position:relative;
}
.tablisting li a {
display:none;
}
.tablist ul.tablisting li img {
	float:left;
	margin-right:30px;
	margin-bottom:5px;
}
.tab-heading {
display:none;
}

.tab-panel {
	margin:50px 0;
}
.tabs.enabled .tab-heading:focus, .tabs.enabled .tab-list li:focus {
	outline: 1px solid #ccc;
}
.tabs.enabled .tab-heading.active-tab-heading:focus, .tabs.enabled .tab-list li.active-tab:focus {
	outline: none !important;
}


 .tab-list {
font-size: 24px;
margin:0;
padding: 0;
line-height: 40px;
color:#1f1f1f;
font-family: 'Catamaran', sans-serif;
font-weight:400;
}
 .tab-list li {
background: #f9f9f9;
padding: 15px 0;
margin-right: 0;
border: 1px solid #dbdbdb;
width:50%;
text-align:center;
cursor:pointer;
display: inline-block;
}
 .tab-list li:hover {
background: #efefef
}
 .tab-list li.active-tab {
background: #fff;
/*border-top-color: #246494;*/
border-top:2px solid #1f6494;
border-bottom-color: #fff;
}
.evantos_tab_area .tab-list li.active-tab {
background: #fff;
/*border-top-color: #246494;*/
border-top:2px solid #e42320;
border-bottom-color: #fff;
}
.tab-panel {
    margin: 30px 0;
}

/* ============================================================
					TAB MENU END
=============================================================== */

.revista_area {
	padding:0 0 30px;
	margin:0;
}
.revista_area h1 {
	color: #1f1f1f;
	font-family: 'Catamaran', sans-serif;
	font-weight: 800;
	font-size: 24px;
	line-height: 20px;
	padding: 0 0 20px;
}
.revista_area p {
	color: #474747;
	font-family: 'Mukta', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 27px;
	padding: 0 0 30px;
}
.revista_area a {
	padding:15px 40px;
	margin: 0;
	font-family: 'Catamaran', sans-serif;
	font-weight: 500;
	color: #fff;
	display: inline-block;
	font-size: 18px;
	line-height: 18px;
	transition: width 0.5s ease 0s, background-color 0.5s ease 0s;
	background: #e42320;
}
.revista_area a:hover {
	background: #246494;
}
.pdf_area {
	padding:0;
	margin:0;
}
@media only screen and (min-width:1024px) and (max-width:1169px) {
.banner_bg {
 min-height: auto;
}
.banner_bg img {
 max-width: 100%;
}
.tab-list li.active-tab::after, .tab-list li:hover::after {
 border-left: 0 solid transparent;
 border-right: 50px solid transparent;
 border-top: 60px solid #fff;
 content: "";
 height: 0;
 left: 0;
 position: absolute;
 top: 0;
 width: 0;
}
.tab-list li.active-tab::before, .tab-list li:hover::before {
 border-bottom: 59px solid #fff;
 border-left: 50px solid transparent;
 border-right: 0 solid transparent;
 content: "";
 height: 0;
 position: absolute;
 right: 0;
 top: 0;
 width: 0;
}
.tab-list li {
 font-size: 20px;
}
.actual_area ul.actual_list li .actual_img {
    width: 35%;
}
.actual_area ul.actual_list li .actual_img img {
width:100%;
}
.actual_area ul.actual_list li .actual_details {
    width: 60%;
}
.articulas_autor_img {
    width: 22%;
    height: auto;
}
.articulas_autor_details {
    width: 75%;
}
}
@media only screen and (min-width:768px) and (max-width:1023px) {
.main_header .navbar-brand {
    margin-top: 0;
    margin-bottom: 20px;
}
.banner_bg {
 min-height: auto;
}
.banner_bg img {
 max-width: 100%;
}
.bodycontent .col-sm-4 {
    float: none;
	width:100%;
	padding:0 15px;
}

}
@media only screen and (min-width:600px) and (max-width:767px) {
 
 .top_header, .addbanner {
 display:none;
}
 .form-group {
 width:100%;
 height: 50px;
}
.form-group input.form-control {
 height: 50px;
 padding-left:55px;
}
.form-control-submit, .search-label {
 width: 50px;
 height: 50px;
 line-height:50px;
 left:0;
}
.form-group.sb-search-open, .no-js .sb-search-open {
 width: 100%;
}
 .searchdiv {
 width:100%;
 position:absolute;
 left:0;
 top:50px;
}
.main_header {
padding:0;
}
.navbar-nav {
 margin:100px 0;
}
.navbar-header {
border-bottom: 1px solid #c0c0c0;
padding-bottom:15px;
padding-right:0;
padding-left:0;
}
.main_header .container {
padding:0;
}
.main_header .main_nav {
padding:0 15px;
border:none;
}
 .main_header #navbar {
 float: none;
padding: 0;
position: absolute;
width: 100%;
left: 0;
z-index: 999999;
background: #fff;
border:none;
top:0;
}
 .container {
 padding-left:15px;
 padding-right:15px;
}
 .main_header .navbar-brand {
 margin-top: 10px;
}
.navbar-brand > img {
max-width:180px;
}
.main_nav {
padding-bottom:10px;
}

.main_nav .navbar-nav li a {
 padding: 15px 10px;
}
.main_nav .navbar-nav li {
 background: none;
 border-bottom: 1px solid #f6f6f6;
 border-left:none;
}
/* =========================================== */

.big_img {
 width: 100%;
 margin-bottom:10px;
}
.small_img {
width: 100%;
}
.img_details {
 padding: 0;
 position:inherit;
 margin:10px 0;
 background:none;
}
.img_details h1 {
 font-size: 15px;
 line-height: 20px;
 padding: 0 0 10px;
 color:#1f1f1f;
}
.img_details p {
 font-size: 14px;
 line-height: 18px;
 color:#474747;
}
.img_details h2 {
color:#1f1f1f;
}
.img_hand.right_side {
 margin-bottom: 10px;
}
.section_01 ul.date_li {
 text-align: center;
 padding-bottom:0;
}
.section_01 ul.date_li li {
 margin: 0 1.5% 30px;
 float: none;
 width:15%;
 display: inline-block;
}
.news_list_01 {
padding-top:0;
}
.section_01 h2 {
 font-size: 14px;
}
.section_01 ul.date_li li:last-child {
 margin: 0 5% 30px;
}
.section_01 ul.date_li li .date_img {
 width: 80px;
 height: 80px;
}
.section_01 ul.date_li li .date_img img {
max-width:100%;
height:auto;
}
/*.section_01 ul.two_btn li {
 margin: 0 0 10px;
}
.section_01 ul.two_btn li:first-child {
float:left;
}
.section_01 ul.two_btn li:last-child {
float:right;
}
.section_01 ul.two_btn li a {
 padding: 15px;
 font-size: 15px;
}*/
.left_news, .right_news {
 width: 100%;
}
.news_list_01 h1, .news_list_02 h1 {
 font-size: 18px;
}
.news_list_01 ul.news_list li h2, .news_list_01 ul.news_list li a, .news_list_02 ul.news_list li h2, .news_list_02 ul.news_list li a {
 font-size: 14px !important;
 line-height: 20px;
}
.news_img {
 padding: 0;
 margin: 0 0 15px;
 width: 35%;
 text-align: center;
}
.news_dl_right {
 padding: 0;
 margin: 0;
 width: 60%;
}
.bodycontent .col-sm-4 {
 padding-right: 0;
 float: right;
 padding-left: 0;
}
.footer ul.ft_menu li {
 padding: 0 0 20px;
}
.footer ul.ft_menu {
 padding: 0;
 margin: 0 0 40px;
}
.footer .col-sm-4 {
margin-top:40px;
}
.right_box ul.client_logo li {
 width: 33.333333%;
}
 .actual_area ul.actual_list li .actual_img {
 width: auto;
 float: none;
 text-align: center;
 margin-bottom: 20px;
}
 .actual_area ul.actual_list li .actual_img img {
 width:100%;
 }
.actual_area ul.actual_list li .actual_details {
 width: auto;
 float: none;
}
.articulas_autor_img {
width: 35%;
height: auto;
}
.articulas_autor_img img {
max-width: 100%;
height: auto;
}
.articulas_autor_details {
 width: 60%;
 padding: 0;
 margin: 0;
}
 .tablist ul.tablisting li img {
 float: left;
 margin-right: 0;
 margin-bottom: 20px;
 width:100%;
}
div#calendar div.header a.prev {
 left: 15%;
}
div#calendar div.header a.next {
 right: 15%;
}
div#calendar ul.dates li {
 padding: 5px;
}
 div#calendar ul.dates li span.text {
 font-size: 10px;
}
.evantos_area h4 {
 line-height: 25px;
}
.ponentes_img {
width:35%;
height:auto;
}
.ponentes_img img {
max-width: 100%;
height: auto;
}
.ponentes_details {
width: 60%;
 padding: 0;
 margin: 0;
}
.evantos_area ul.ponentes_list li a {
    padding: 15px 10px;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
	display:block;
}
.evantos_area p {
    font-size: 15px;
    line-height: 20px;
}
.actualdetails_area h1 {
    font-size: 16px;
    line-height: 20px;
	padding: 0 0 20px;
}
.actualdetails_area h2 {
    padding: 0 0 20px;
    font-size: 14px;
    line-height: 18px;
}
.actualdetails_area p {
    font-size: 14px;
    line-height: 20px;
    padding: 0 0 10px;
}
.actualdetails_area h3 {
    font-size: 16px;
    line-height: 20px;
    padding: 0 0 10px;
}
.actualdetails_area .articulas_autor_details h3 {
    font-size: 15px;
    line-height: 20px;
    padding: 0 0 5px;
}
.actualdetails_area .articulas_autor_details h6 {
    font-size: 16px;
    line-height: 20px;
    padding: 0 0 10px;
}
.actualdetails_area .articulas_autor_details p {
    font-size: 15px;
    line-height: 20px;
    padding: 0 0 20px;
}
.actualdetails_area h4 {
    font-size: 16px;
    line-height: 20px;
    padding: 0 0 10px;
}
.actualdetails_area h5 {
    font-size: 14px;
    line-height: 16px;
    padding: 15px 0;
    margin: 20px 0 20px;
    text-align: center;
}
.actualdetails_area h5 span {
    font-size: 14px;
    line-height: 16px;
}
.actual_area h1 {
    padding: 0 0 15px;
    font-size: 16px;
    line-height: 20px;
}
.tabs.enabled .tab-heading  {
display:none;
}
.tab-list {
    font-size: 13px;
    line-height: 20px;
}
.tab-list li.active-tab {
    border-top: 2px solid #e51e21;
}
.tablisting li a {
    padding: 12px 30px;
    margin: 0;
    font-family: 'Catamaran', sans-serif;
    font-weight: 500;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    line-height: 18px;
    transition: width 0.5s ease 0s, background-color 0.5s ease 0s;
	background:#e42320;
	margin-top:15px;
}
.tablisting li a:hover {
background: #246494;
}
div#calendar ul.label li, div#calendar ul.dates li {
    width: 20%;
}
div#calendar ul.dates li {
height:60px;
}
div#calendar ul.label li:nth-child(6), div#calendar ul.label li:nth-child(7) {
display:none;
}
div#calendar ul.dates li:nth-child(5n) {
    border-right: 0;
}
div#calendar ul.dates li:nth-child(7n) {
    border-right: 1px solid #dbdbdb;
}
div#calendar div.box-content {
    background: #fafafa;
}
div#calendar ul.dates li {
position:inherit;
}
.datepopup {
	width: 100%;
	padding:20px;
	margin:-15px 0 0 0;
	}
.datepopup::before {
right:10px;
}
.datepopup h1 {
	font: 600 14px/20px 'Catamaran', sans-serif;
	padding-bottom:10px;
}
.datepopup p {
	font: 400 12px/20px 'Mukta', sans-serif;
}
}
@media only screen and (min-width:480px) and (max-width:599px) {
 .navbar-brand > img {
max-width:200px;
}
 .main_nav .navbar-nav li:last-child {
display:none;
}
.main_nav .navbar-nav > li > a {
 padding: 0 10px;
}
.main_nav .navbar-nav > li {
 background: none;
}
.banner_bg {
 min-height: auto;
}
.banner_bg img {
 max-width: 100%;
}
.address_box h3 {
 font: 700 20px/20px "Source Sans Pro", sans-serif;
 padding: 20px 0;
}
.address_box {
 padding: 0 20px 20px;
}
.address_box input[type="text"], .address_box input[type="email"] {
 font: 300 15px/24px "Source Sans Pro", sans-serif;
 height: 40px;
 margin-bottom: 15px;
 padding: 0 10px;
}
.address_box input[type="submit"] {
 font: italic 700 15px/45px "Source Sans Pro", sans-serif;
 margin-top: 0;
 outline: medium none;
 padding: 0 28px;
}
.map_overlay {
 padding: 50px 0;
}
.address_pnl iframe {
 height: 470px;
}
.ftr_box {
margin-bottom:40px;
}
.footer {
 padding: 50px 0 0;
}
.ftr_last p {
 font: 400 10px/15px "Source Sans Pro", sans-serif;
}
}
 @media only screen and (min-width:320px) and (max-width:479px) {
 .top_header, .addbanner {
 display:none;
}
 .form-group {
 width:100%;
 height: 50px;
}
.form-group input.form-control {
 height: 50px;
 padding-left:55px;
}
.form-control-submit, .search-label {
 width: 50px;
 height: 50px;
 line-height:50px;
 left:0;
}
.form-group.sb-search-open, .no-js .sb-search-open {
 width: 100%;
}
 .searchdiv {
 width:100%;
 position:absolute;
 left:0;
 top:50px;
}
.main_header {
padding:0;
}
.navbar-nav {
 margin:100px 0;
}
.navbar-header {
border-bottom: 1px solid #c0c0c0;
padding-bottom:15px;
padding-right:0;
padding-left:0;
}
.main_header .container {
padding:0;
}
.main_header .main_nav {
padding:0 15px;
border:none;
}
 .main_header #navbar {
 float: none;
padding: 0;
position: absolute;
width: 100%;
left: 0;
z-index: 999999;
background: #fff;
border:none;
top:0;
}
 .container {
 padding-left:15px;
 padding-right:15px;
}
 .main_header .navbar-brand {
 margin-top: 10px;
}
.navbar-brand > img {
max-width:180px;
}
.main_nav {
padding-bottom:10px;
}

.main_nav .navbar-nav li a {
 padding: 15px 10px;
}
.main_nav .navbar-nav li {
 background: none;
 border-bottom: 1px solid #f6f6f6;
 border-left:none;
}
/* =========================================== */

.big_img {
 width: 100%;
 margin-bottom:10px;
}
.small_img {
width: 100%;
}
.img_details {
 padding: 0;
 position:inherit;
 margin:10px 0;
 background:none;
}
.img_details h1 {
 font-size: 15px;
 line-height: 20px;
 padding: 0 0 10px;
 color:#1f1f1f;
}
.img_details p {
 font-size: 14px;
 line-height: 18px;
 color:#474747;
}
.img_details h2 {
color:#1f1f1f;
}
.img_hand.right_side {
 margin-bottom: 10px;
}
.section_01 ul.date_li {
 text-align: center;
 padding-bottom:0;
}
.section_01 ul.date_li li {
 margin: 0 2% 60px;
 float: none;
 width:45%;
 display: inline-block;
}
.news_list_01 {
padding-top:0;
}
.section_01 h2 {
 font-size: 14px;
}
.section_01 ul.date_li li:last-child {
 margin: 0 5% 60px;
}
/*.section_01 ul.date_li li .date_img {
 width: 80px;
 height: 80px;
}
.section_01 ul.date_li li .date_img img {
max-width:100%;
height:auto;
}*/
.section_01 ul.two_btn li {
 margin: 0 0 10px;
}
.section_01 ul.two_btn li:first-child {
float:left;
}
.section_01 ul.two_btn li:last-child {
float:right;
}
.section_01 ul.two_btn li a {
 padding: 15px;
 font-size: 15px;
}
.left_news, .right_news {
 width: 100%;
}
.news_list_01 h1, .news_list_02 h1 {
 font-size: 18px;
}
.news_list_01 ul.news_list li h2, .news_list_01 ul.news_list li a, .news_list_02 ul.news_list li h2, .news_list_02 ul.news_list li a {
 font-size: 14px !important;
 line-height: 20px;
}
.news_img {
 padding: 0;
 margin: 0 0 15px;
 width: 35%;
 text-align: center;
}
.news_dl_right {
 padding: 0;
 margin: 0;
 width: 60%;
}
.bodycontent .col-sm-4 {
 padding-right: 0;
 float: right;
 padding-left: 0;
}
.footer ul.ft_menu li {
 padding: 0 0 20px;
}
.footer ul.ft_menu {
 padding: 0;
 margin: 0 0 40px;
}
.footer .col-sm-4 {
margin-top:40px;
}
.right_box ul.client_logo li {
 width: 33.333333%;
}
 .actual_area ul.actual_list li .actual_img {
 width: auto;
 float: none;
 text-align: center;
 margin-bottom: 20px;
}
 .actual_area ul.actual_list li .actual_img img {
 width:100%;
 }
.actual_area ul.actual_list li .actual_details {
 width: auto;
 float: none;
}
.articulas_autor_img {
width: 35%;
height: auto;
}
.articulas_autor_img img {
max-width: 100%;
height: auto;
}
.articulas_autor_details {
 width: 60%;
 padding: 0;
 margin: 0;
}
 .tablist ul.tablisting li img {
 float: left;
 margin-right: 0;
 margin-bottom: 20px;
 width:100%;
}

/*
div#calendar div.header a.prev {
 left: 15%;
}
div#calendar div.header a.next {
 right: 15%;
}
div#calendar ul.dates li {
 padding: 5px;
}
 div#calendar ul.dates li span.text {
 font-size: 10px;
}
div#calendar ul.label li, div#calendar ul.dates li {
    width: 20%;
}
div#calendar ul.dates li {
height:60px;
}
div#calendar ul.label li:nth-child(6), div#calendar ul.label li:nth-child(7) {
display:none;
}
div#calendar ul.dates li:nth-child(5n) {
    border-right: 0;
}
div#calendar ul.dates li:nth-child(7n) {
    border-right: 1px solid #dbdbdb;
}
div#calendar div.box-content {
    background: #fafafa;
}
div#calendar ul.dates li {
position:inherit;
}
*/

.evantos_area h4 {
 line-height: 25px;
}
.ponentes_img {
width:35%;
height:auto;
}
.ponentes_img img {
max-width: 100%;
height: auto;
}
.ponentes_details {
width: 60%;
 padding: 0;
 margin: 0;
}
.evantos_area ul.ponentes_list li a {
    padding: 15px 10px;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
	display:block;
}
.evantos_area p {
    font-size: 15px;
    line-height: 20px;
}
.actualdetails_area h1 {
    font-size: 16px;
    line-height: 20px;
	padding: 0 0 20px;
}
.actualdetails_area h2 {
    padding: 0 0 20px;
    font-size: 14px;
    line-height: 18px;
}
.actualdetails_area p {
    font-size: 14px;
    line-height: 20px;
    padding: 0 0 10px;
}
.actualdetails_area h3 {
    font-size: 16px;
    line-height: 20px;
    padding: 0 0 10px;
}
.actualdetails_area .articulas_autor_details h3 {
    font-size: 15px;
    line-height: 20px;
    padding: 0 0 5px;
}
.actualdetails_area .articulas_autor_details h6 {
    font-size: 16px;
    line-height: 20px;
    padding: 0 0 10px;
}
.actualdetails_area .articulas_autor_details p {
    font-size: 15px;
    line-height: 20px;
    padding: 0 0 20px;
}
.actualdetails_area h4 {
    font-size: 16px;
    line-height: 20px;
    padding: 0 0 10px;
}
.actualdetails_area h5 {
    font-size: 14px;
    line-height: 16px;
    padding: 15px 0;
    margin: 20px 0 20px;
    text-align: center;
}
.actualdetails_area h5 span {
    font-size: 14px;
    line-height: 16px;
}
.actual_area h1 {
    padding: 0 0 15px;
    font-size: 16px;
    line-height: 20px;
}
.tabs.enabled .tab-heading  {
display:none;
}
.tab-list {
    font-size: 13px;
    line-height: 20px;
}
.tab-list li.active-tab {
    border-top: 2px solid #e51e21;
}
.tablisting li a {
    padding: 12px 30px;
    margin: 0;
    font-family: 'Catamaran', sans-serif;
    font-weight: 500;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    line-height: 18px;
    transition: width 0.5s ease 0s, background-color 0.5s ease 0s;
	background:#e42320;
	margin-top:15px;
}
.tablisting li a:hover {
background: #246494;
}


.datepopup {
	width: 100%;
	padding:20px;
	margin:-15px 0 0 0;
	}
.datepopup::before {
right:10px;
}
.datepopup h1 {
	font: 600 14px/20px 'Catamaran', sans-serif;
	padding-bottom:10px;
}
.datepopup p {
	font: 400 12px/20px 'Mukta', sans-serif;
}
}
